extends layouts/default_layout

block home
  +titleMsg(title)

  div.row
    div(class='col-md-12')
      h3(class='charts')= gettext('Scheduled Prenatal Exams')
      div(id='prenatalScheduled', data-data=prenatalScheduled, data-options=prenatalScheduledOptions)
  div.row
    div(class='col-md-12')
      h3(class='charts')= gettext('Prenatal History By Month')
      div(id='prenatalHistoryByMonth', data-data=prenatalHistoryByMonthData, data-options=prenatalHistoryByMonthOptions)

  hr

  //- Display the link to the source code in order to comply with APGL license.

  //- Note that if this project is forked and modified, this link must point
  //- to the forked and modified source code in order to comply with the AGPL license.
  //- Adjust the sourceCodeHref variable below accordingly.

  - var sourceCodeHref = 'https://github.com/LightSys/Midwife-EMR';

  div(class='source-code')
    a(href=sourceCodeHref, target='_blank') <i class="fa fa-fw fa-github"></i>
      = "Source code"

