extends layouts/default_layout

block home
  +titleMsg(title)

  div.row
    div(class='col-md-6')
      h3(class='charts')= gettext('Prenatal Exams This Week')
      div(id='prenatalThisWeek', data-data=prenatalThisWeekData, data-options=prenatalThisWeekOptions)
    div(class='col-md-6')
      h3(class='charts')= gettext('Prenatal History')
      div(id='prenatalHistory', data-data=prenatalHistoryData, data-options=prenatalHistoryOptions)
  div.row
    div(class='col-md-12')
      h3(class='charts')= gettext('Prenatal History By Week')
      - prenatalHistoryByWeekData.label = 'year-week (yy-wk)';
      div(id='prenatalHistoryByWeek', data-data=prenatalHistoryByWeekData, data-options=prenatalHistoryByWeekOptions)

  hr
  - if (applicationRevision)
    p= gettext('Application revision: ') + applicationRevision

  p= gettext('Designed for a desktop/laptop.')

