extends layouts/default_layout

block midwifeInterviewAddPreg
  +titleMsg(title)

  - var pregHistAddPath = '/pregnancy/' + rec.id + '/preghistory';
  - var midwifeInterviewPath = '/pregnancy/' + rec.id + '/midwifeinterview';

  div
    form(id='addPregForm', class='dirty-check', role='form', name='pregnancyHistoryAddPreg', action=pregHistAddPath, method='post')
      div.row
        div(class='form-group col-md-2')
          span= gettext('Month')
          input(id='month', class='form-control', type='number', tabindex="90", autocomplete="off", name='month', autofocus)
        div(class='form-group col-md-2')
          span= gettext('Day')
          input(id='day', class='form-control', type='number', tabindex="95", autocomplete="off", name='day')
        div(class='form-group col-md-2')
          span= gettext('Year')
          input(id='year', class='form-control', type='number', tabindex="101", autocomplete="off", name='year')
        div(class='form-group col-md-2')
          div.checkbox
            span= gettext('Full Term?')
              input(type='checkbox', name='FT', tabindex="102", value=1, checked=rec.FT==true)
        div(class='form-group col-md-2')
          span= gettext('GA')
          input(id='finalGA', class='form-control', type='number', tabindex="103", autocomplete="off", name='finalGA')
        div(class='form-group col-md-2')
          span= gettext('Weeks or Months')
          +select('form-control', 'finalGAPeriod', 104, finalGAPeriod)

      div.row
        div(class='form-group col-md-2')
          span= gettext('Sex of baby')
          +select('form-control', 'sexOfBaby', 105, sexOfBaby)
        div(class='form-group col-md-2')
          span= gettext('Place of birth')
          +select('form-control', 'placeOfBirth', 106, placeOfBirth)
        div(class='form-group col-md-2')
          span= gettext('Attendant')
          +select('form-control', 'attendant', 107, attendant)
        div(class='form-group col-md-3')
          span= gettext('Type of Delivery')
          input(id='typeOfDelivery', class='form-control', type='text', tabindex="108", autocomplete="off", name='typeOfDelivery', value=defaultTypeOfDelivery)
        div(class='form-group col-md-3')
          span= gettext('Length of Labor (hours)')
          input(id='lengthOfLabor', class='form-control', type='number', tabindex="109", autocomplete="off", name='lengthOfLabor')

      div.row
        div(class='form-group col-md-3')
          span= gettext('Birth Weight (kg)')
          input(id='birthWeight', class='form-control', type='number', step='.1', tabindex="110", autocomplete="off", name='birthWeight')
        div(class='form-group col-md-3')
          span= gettext('Epis Tear?')
          +select('form-control', 'episTear', 111, episTear)
        div(class='form-group col-md-2')
          span= gettext('Repaired?')
          +select('form-control', 'repaired', 112, repaired)
        div(class='form-group col-md-2')
          span= gettext('Breast Fed')
          input(id='howLongBFed', class='form-control', type='number', tabindex="113", autocomplete="off", name='howLongBFed')
        div(class='form-group col-md-2')
          span= gettext('Weeks/Months/Years')
          +select('form-control', 'howLongBFedPeriod', 114, howLongBFedPeriod)

      div.row
        div(class='form-group col-md-6')
          span= gettext('Comment')
          input(id='note', class='form-control', type='text', tabindex="115", spellcheck="off", autocomplete="off", name='note')

      div.row
        div(class='form-group col-md-1')
          button(class='btn btn-primary', type='submit')= gettext('Save')
          input(type='hidden', name='_csrf', value=token)
          input(type='hidden', name='pregnancy_id', value=rec.id)
        div(class='form-group col-md-2')
          a(href=midwifeInterviewPath, class='btn btn-default disable-on-change', role='button')= gettext('Back to Midwife Interview')
