extends layouts/default_layout

block midwifeInterviewEditPreg
  h1= title

  +patientWell(rec)

  - var pregHistEditPath = '/pregnancy/' + rec.id + '/preghistoryedit/' + pregHist.id;
  - var pregHistDeletePath = '/pregnancy/' + rec.id + '/preghistorydelete/' + pregHist.id;
  - var midwifeInterviewPath = '/pregnancy/' + rec.id + '/midwifeinterview';

  div
    form(id='editPregForm', role='form', name='pregnancyHistoryEditPreg', action=pregHistEditPath, method='post')
      div.row
        div(class='form-group col-sm-3')
          span= gettext('Month')
          input(id='month', class='form-control', type='number', tabindex="100", autocomplete="off", name='month', value=pregHist.month, autofocus)
        div(class='form-group col-sm-3')
          span= gettext('Year')
          input(id='year', class='form-control', type='number', tabindex="101", autocomplete="off", name='year', value=pregHist.year)
        div(class='form-group col-sm-3')
          span= gettext('Weeks GA')
          input(id='weeksGA', class='form-control', type='number', tabindex="102", autocomplete="off", name='weeksGA', value=pregHist.weeksGA)
        div(class='form-group col-sm-3')
          span= gettext('Sex of baby')
          +select('form-control', 'sexOfBaby', 103, 
            [{selectKey: 'M', label: 'Male', selected: pregHist.sexOfBaby==='M'},{selectKey: 'F', label: 'Female', selected: pregHist.sexOfBaby==='F'}])
      div.row
        div(class='form-group col-sm-3')
          span= gettext('Place of birth')
          input(id='placeOfBirth', class='form-control', type='text', tabindex="104", autocomplete="off", name='placeOfBirth', value=pregHist.placeOfBirth)
        div(class='form-group col-sm-3')
          span= gettext('Attendant')
          input(id='attendant', class='form-control', type='text', tabindex="105", autocomplete="off", name='attendant', value=pregHist.attendant)
        div(class='form-group col-sm-3')
          span= gettext('Type of Delivery')
          input(id='typeOfDelivery', class='form-control', type='text', tabindex="106", autocomplete="off", name='typeOfDelivery', value=pregHist.typeOfDelivery)
        div(class='form-group col-sm-3')
          span= gettext('Length of Labor (hours)')
          input(id='lengthOfLabor', class='form-control', type='text', tabindex="107", autocomplete="off", name='lengthOfLabor', value=pregHist.lengthOfLabor)
      div.row
        div(class='form-group col-sm-3')
          span= gettext('Birth Weight (kg)')
          input(id='birthWeight', class='form-control', type='text', tabindex="108", autocomplete="off", name='birthWeight', value=pregHist.birthWeight)
        div(class='form-group col-sm-3')
          span= gettext('Epis Tear?')
          +select('form-control', 'episTear', 109, 
            [{selectKey: 'N', label: 'No', selected: pregHist.episTear===0},{selectKey: 'Y', label: 'Yes', selected: pregHist.episTear===1}])
        div(class='form-group col-sm-3')
          span= gettext('Repaired?')
          +select('form-control', 'repaired', 110, 
            [{selectKey: 'N', label: 'No', selected: pregHist.repaired===0},{selectKey: 'Y', label: 'Yes', selected: pregHist.repaired===1}])
        div(class='form-group col-sm-3')
          span= gettext('Weeks Breast Fed')
          input(id='howLongBFed', class='form-control', type='number', tabindex="111", autocomplete="off", name='howLongBFed', value=pregHist.howLongBFed)
      div.row
        div(class='form-group col-sm-12')
          span= gettext('Comment')
          input(id='note', class='form-control', type='text', tabindex="112", autocomplete="off", name='note', value=pregHist.note)

      div.row
        div(class='form-group col-sm-1 col-sm-offset-9')
          a(href=midwifeInterviewPath, class='btn btn-default pull-right disable-on-change', role='button')= gettext('Back to Midwife Interview')
        div(class='form-group col-sm-1')
          button(class='btn btn-primary btn-block pull-right', type='submit')= gettext('Save')
          input(type='hidden', name='_csrf', value=token)
          input(type='hidden', name='pregnancy_id', value=rec.id)
          input(type='hidden', name='id', value=pregHist.id)
        div(class='form-group col-sm-1')
          button(class='btn pull-right disable-on-change', data-toggle='modal', data-target="#delete-modal")= gettext('Delete')

    div(id='delete-modal', class='modal fade', tabindex='-1', role='dialog', aria-labelledby='deleteModalheader', aria-hidden='true')
      form(id='deletePregForm', role='form', name='pregnancyHistoryDeletePreg', action=pregHistDeletePath, method='post')
        div(class='modal-dialog')
          div(class='modal-content')
            div(class='modal-header')
              h3(id='deleteModalHeader', class='modal-title text-center')= gettext('Are you sure?')
            div(class='modal-body')
              p(class='text-warning lead')= gettext('The deletion cannot be undone. Press Delete or Cancel.')
            div(class='modal-footer')
              input(type='hidden', name='_csrf', value=token)
              input(type='hidden', name='pregnancy_id', value=rec.id)
              input(type='hidden', name='id', value=pregHist.id)
              button(type='button', class='btn btn-default', data-dismiss='modal')= gettext('Cancel')
              button(type='submit', class='btn btn-primary')= gettext('Delete')
