extends layouts/default_layout

block pregnancyEdit
  div.row
    +titleMsg(title)
  div.row
    div(class='col-md-2 col-md-offset-10')
      if roleInfo.hasRole('supervisor')
        a(class='pull-right btn btn-default', href='history')= gettext('View history of changes')
  div.row
    div(class='col-xs-12')
      +pregnancyTab('edit')

  div(class='formBoxLarge')
    form(role='form', name='pregnancyForm', action='/pregnancy/' + rec.id + '/update', method='post')
      div.row
        div(class='form-group col-sm-4')
          span= gettext('Last name')
          input(class='form-control input-lg', type='text', tabindex="1", autocomplete="off", name='lastname', autofocus, value=rec.lastname)
        div(class='form-group col-sm-4')
          span= gettext('First name')
          input(class='form-control input-lg', type='text', tabindex="2", autocomplete="off", name='firstname', value=rec.firstname)
        div(class='form-group col-sm-4')
          span= gettext('Date of Birth (mm/dd/yyyy)')
          input(class='form-control input-lg', type='date', tabindex="3", autocomplete="off", name='dob', value=rec.patient.dob)
      div.row
        div(class='form-group col-sm-4')
          span= gettext('Religion')
          +select('form-control input-lg', 'religion', 4, religion)
        div(class='form-group col-sm-4')
          span= gettext('Maiden name')
          input(class='form-control input-lg', type='text', tabindex="5", autocomplete="off", name='maidenname', value=rec.maidenname)
        div(class='form-group col-sm-4')
          span= gettext('Nick name')
          input(class='form-control input-lg', type='text', tabindex="6", autocomplete="off", name='nickname', value=rec.nickname)
      div.row
        div(class='form-group col-sm-4')
          span= gettext('Marital status')
          +select('form-control input-lg', 'maritalStatus', 7, marital)
        div(class='form-group col-sm-4')
          span= gettext('Address')
          input(class='form-control input-lg', type='text', tabindex="8", autocomplete="off", name='address', value=rec.address)
        div(class='form-group col-sm-4')
          span= gettext('Barangay')
          input(class='form-control input-lg', type='text', tabindex="9", autocomplete="off", name='barangay', value=rec.barangay)
      div.row
        div(class='form-group col-sm-4')
          span= gettext('Work')
          input(class='form-control input-lg', type='text', tabindex="10", autocomplete="off", name='work', value=rec.work)
        div(class='form-group col-sm-4')
          span= gettext('Education')
          +select('form-control input-lg', 'education', 11, education)
        div(class='form-group col-sm-4')
          span= gettext('Telephone')
          input(class='form-control input-lg', type='tel', tabindex="12", autocomplete="off", name='telephone', value=rec.telephone)
      div.row
        div(class='form-group col-sm-4')
          span= gettext('Partner last name')
          input(class='form-control input-lg', type='text', tabindex="13", autocomplete="off", name='partnerLastname', value=rec.partnerLastname)
        div(class='form-group col-sm-4')
          span= gettext('Partner first name')
          input(class='form-control input-lg', type='text', tabindex="14", autocomplete="off", name='partnerFirstname', value=rec.partnerFirstname)
        div(class='form-group col-sm-4')
          span= gettext('Partner age')
          input(class='form-control input-lg', type='number', tabindex="15", autocomplete="off", name='partnerAge', value=rec.partnerAge)
      div.row
        div(class='form-group col-sm-4')
          span= gettext('Partner work')
          input(class='form-control input-lg', type='text', tabindex="16", autocomplete="off", name='partnerWork', value=rec.partnerWork)
        div(class='form-group col-sm-3')
          span= gettext('Partner education')
          +select('form-control input-lg', 'partnerEducation', 17, partnerEducation)
        div(class='form-group col-sm-2')
          span= gettext('Client Income')
          input(class='form-control input-lg', type='number', tabindex="18", autocomplete="off", name='clientIncome', value=rec.clientIncome)
        div(class='form-group col-sm-3')
          span= gettext('Income period')
          +select('form-control input-lg', 'clientIncomePeriod', 19, clientIncomePeriod)
      div.row
        div(class='form-group col-sm-4')
          span= gettext('MMC #')
          input(class='form-control input-lg', type='number', tabindex="22", autocomplete="off", name='doh', value=rec.patient.dohID)
        div(class='form-group col-sm-3')
          span= gettext('Priority #')
          input(class='form-control input-lg', type='number', tabindex="23", autocomplete="off", name='priority', value=rec.priority)
        div(class='form-group col-sm-2')
          span= gettext('Partner income')
          input(class='form-control input-lg', type='number', tabindex="20", autocomplete="off", name='partnerIncome', value=rec.partnerIncome)
        div(class='form-group col-sm-3')
          span= gettext('Income period')
          +select('form-control input-lg', 'partnerIncomePeriod', 21, partnerIncomePeriod)
      div.row
        div(class='form-group col-sm-4')
          span= gettext('Prenatal Day')
          +select('form-control input-lg', 'prenatalDay', 22, value=prenatalDay)
        div(class='form-group col-sm-4')
          span= gettext('Prenatal Location')
          +select('form-control input-lg', 'prenatalLocation', 22, value=prenatalLocation)

      div.row
        input(class='btn btn-primary', type='submit', value=gettext('Save Changes'))
        input(type='hidden', name='_csrf', value=token)
        input(type='hidden', name='id', value=rec.id)
        input(type='hidden', name='scheduleId', value=rec.prenatalSchedule.id);

