extends layouts/default_layout

block prenatal
  +titleMsg(title)
  +pregnancyTab('prenatal')
  +patientWell(rec)

  //- hasRisk()
  //- Return true if the pregnancy has the risk code name passed.
  - var hasRisk = function hasRisk(riskCodeName) {
  -   var rc = libs._.findWhere(riskCodes, {name: riskCodeName});
  -   return !! libs._.findWhere(rec.risk, {riskCode: rc.id});
  - }
  - var getRiskType = function getRiskType(riskCodeId) {
  -   var rec = libs._.findWhere(riskCodes, {id: riskCodeId});
  -   return rec.riskType? rec.riskType: undefined;
  - }

  - var edd = rec.edd? libs.mmt(rec.edd).format('MM-DD-YYYY'): '';

  - var prenatalExamAddFormPath = '/pregnancy/' + rec.id + '/prenatalexam';
  form(id='prenatalForm', class='dirty-check', role='form', name='prenatal', action='/pregnancy/' + rec.id + '/prenatal', method='post')
    div.row
      div(class='form-group col-md-4 box')
        p(class='text-primary lead')= gettext('Phil Health')
        div.row
          div(class='col-md-6 box')
            div.checkbox
              label= gettext('Phil Health MCP')
                input(type='checkbox', name='philHealthMCP', tabindex="1", disabled=readonlyFields.philHealthMCP, value=1, checked=rec.philHealthMCP==true)
          div(class='col-md-6 box')
            div
              span= gettext('PHIC #')
              input(class='form-control', type='text', size=12, tabindex="3", autocomplete="off", name='philHealthID', disabled=readonlyFields.philHealthID, value=rec.philHealthID)
        div.row
          div(class='col-md-6 box')
            div.checkbox
              label= gettext('Phil Health NCP')
                input(type='checkbox', name='philHealthNCP', tabindex="2", disabled=readonlyFields.philHealthNCP, value=1, checked=rec.philHealthNCP==true)
          div(class='col-md-6 box')
            div.checkbox
              label= gettext('PHIC Approved')
                input(type='checkbox', name='philHealthApproved', tabindex="4", disabled=readonlyFields.philHealthApproved, value=1, checked=rec.philHealthApproved==true)

      div(class='form-group col-md-8 box')
        p(class='text-primary lead')= gettext('Estimated Due Dates')
        div.row
          div(class='col-md-4 ')
            div
              span= gettext('LMP')
              +datePicker('form-control', 5, 'lmp', rec.lmp, 'prenatal-lmp', null, readonlyFields.lmp, 'Unknown')
          div(class='col-md-4 ')
            div
              span= gettext('EDD')
              input(id='edd', class='form-control', type='text', autocomplete="off", name='edd', disabled=true, value=edd)
          div(class='col-md-4 ')
            div
              span= gettext('Alternate EDD')
              +datePicker('form-control', 8, 'alternateEdd', rec.alternateEdd, null, null, readonlyFields.alternateEdd)
        div.row
          div(class='col-md-6 ')
            div.checkbox
              label= gettext('Sure of LMP')
                input(type='checkbox', name='sureLMP', tabindex="6", disabled=readonlyFields.sureLMP, value=1, checked=rec.sureLMP==true)
          div(class='col-md-4 col-md-offset-2')
            div.checkbox
              label= gettext('Use Alt EDD')
                input(type='checkbox', name='useAlternateEdd', tabindex="9", disabled=readonlyFields.useAlternateEdd, value=1, checked=rec.useAlternateEdd==true)

    div.row
      div(class='form-group col-md-12 box')
        p(class='text-primary lead')= gettext('Risk Factors')
        div.row

          div(class='col-md-3 ')
            a(class="btn btn-default" data-toggle="collapse" href="#riskPresent" data-parent="#readonlyRiskPresent" aria-expanded="false" aria-controls="riskPresent")= gettext('Risk Present')
            //- Only show the risks already selected be default.
            div(id="readonlyRiskPresent" class="readonlyCheckmark")
              each r in rec.risk
                - if (getRiskType(r.riskCode) === 'Present') {
                  div(class="fa fa-check")= ' ' + libs._.findWhere(riskCodes, {id: r.riskCode}).name + ': ' + libs._.findWhere(riskCodes, {id: r.riskCode}).description
                  br
                - }
            div(id="riskPresent" class="collapse")
              div.checkbox
                label= gettext('A1: Over 35')
                input(type='checkbox', name='A1', tabindex="9", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('A1')==true)
              div.checkbox
                label= gettext('A2: Under 18')
                input(type='checkbox', name='A2', tabindex="10", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('A2')==true)
              div.checkbox
                label= gettext('B1: Height < 4\'9"')
                input(type='checkbox', name='B1', tabindex="11", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('B1')==true)
              div.checkbox
                label= gettext('B2: Underweight')
                input(type='checkbox', name='B2', tabindex="12", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('B2')==true)
              div.checkbox
                label= gettext('B3: Overweight')
                input(type='checkbox', name='B3', tabindex="13", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('B3')==true)
              div.checkbox
                label= gettext('C: 4 or more children')
                input(type='checkbox', name='C', tabindex="14", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('C')==true)
              div.checkbox
                label= gettext('F: < 3 years since last birth')
                input(type='checkbox', name='F', tabindex="15", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('F')==true)

          div(class='col-md-3 ')
            a(class="btn btn-default" data-toggle="collapse" href="#riskObHx" data-parent="#readonlyRiskObHx" aria-expanded="false" aria-controls="riskObHx")= gettext('Risk ObHx')
            //- Only show the risks already selected be default.
            div(id="readonlyRiskObHx" class="readonlyCheckmark")
              each r in rec.risk
                - if (getRiskType(r.riskCode) === 'ObHx') {
                  div(class="fa fa-check")= ' ' + libs._.findWhere(riskCodes, {id: r.riskCode}).name + ': ' + libs._.findWhere(riskCodes, {id: r.riskCode}).description
                  br
                - }
            div(id="riskObHx" class="collapse")
              div.checkbox
                label= gettext('D1: C/S')
                input(type='checkbox', name='D1', tabindex="16", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('D1')==true)
              div.checkbox
                label= gettext('D2: Stillbirth/death < 7 days')
                input(type='checkbox', name='D2', tabindex="17", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('D2')==true)
              div.checkbox
                label= gettext('D3: Anenatal bleeding')
                input(type='checkbox', name='D3', tabindex="18", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('D3')==true)
              div.checkbox
                label= gettext('D4: Hemorrhage')
                input(type='checkbox', name='D4', tabindex="19", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('D4')==true)
              div.checkbox
                label= gettext('D5: Convulsions')
                input(type='checkbox', name='D5', tabindex="20", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('D5')==true)
              div.checkbox
                label= gettext('D6: Forceps or vacuum')
                input(type='checkbox', name='D6', tabindex="21", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('D6')==true)
              div.checkbox
                label= gettext('D7: Malpresentation')
                input(type='checkbox', name='D7', tabindex="22", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('D7')==true)

          div(class='col-md-3 ')
            a(class="btn btn-default" data-toggle="collapse" href="#riskMedHx" data-parent="#readonlyRiskMedHx" aria-expanded="false" aria-controls="riskMedHx")= gettext('Risk MedHx')
            //- Only show the risks already selected be default.
            div(id="readonlyRiskMedHx" class="readonlyCheckmark")
              each r in rec.risk
                - if (getRiskType(r.riskCode) === 'MedHx') {
                  div(class="fa fa-check")= ' ' + libs._.findWhere(riskCodes, {id: r.riskCode}).name + ': ' + libs._.findWhere(riskCodes, {id: r.riskCode}).description
                  br
                - }
            div(id="riskMedHx" class="collapse")
              div.checkbox
                label= gettext('E1: TB')
                input(type='checkbox', name='E1', tabindex="23", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('E1')==true)
              div.checkbox
                label= gettext('E2: Heart disease')
                input(type='checkbox', name='E2', tabindex="24", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('E2')==true)
              div.checkbox
                label= gettext('E3: Diabetes')
                input(type='checkbox', name='E3', tabindex="25", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('E3')==true)
              div.checkbox
                label= gettext('E4: Dx Asthma')
                input(type='checkbox', name='E4', tabindex="26", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('E4')==true)
              div.checkbox
                label= gettext('E5: Goiter')
                input(type='checkbox', name='E5', tabindex="27", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('E5')==true)
              div.checkbox
                label= gettext('E6: Hypertension')
                input(type='checkbox', name='E6', tabindex="28", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('E6')==true)
              div.checkbox
                label= gettext('E7: Malaria')
                input(type='checkbox', name='E7', tabindex="29", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('E7')==true)
              div.checkbox
                label= gettext('E8: Parasites')
                input(type='checkbox', name='E8', tabindex="30", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('E8')==true)

          div(class='col-md-3 ')
            a(class="btn btn-default" data-toggle="collapse" href="#riskLifestyle" data-parent="#readonlyRiskLifestyle" aria-expanded="false" aria-controls="riskLifestyle")= gettext('Risk Lifestyle')
            //- Only show the risks already selected be default.
            div(id="readonlyRiskLifestyle" class="readonlyCheckmark")
              each r in rec.risk
                - if (getRiskType(r.riskCode) === 'Lifestyle') {
                  div(class="fa fa-check")= ' ' + libs._.findWhere(riskCodes, {id: r.riskCode}).name + ': ' + libs._.findWhere(riskCodes, {id: r.riskCode}).description
                  br
                - }
            div(id="riskLifestyle" class="collapse")
              div.checkbox
                label= gettext('G1: Smoking')
                input(type='checkbox', name='G1', tabindex="31", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('G1')==true)
              div.checkbox
                label= gettext('G2: Drink alcohol')
                input(type='checkbox', name='G2', tabindex="32", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('G2')==true)
              div.checkbox
                label= gettext('G3: Multiple partners')
                input(type='checkbox', name='G3', tabindex="33", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('G3')==true)
              div.checkbox
                label= gettext('G4: Live w/ person HIV/AIDS')
                input(type='checkbox', name='G4', tabindex="34", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('G4')==true)
              div.checkbox
                label= gettext('G5: Expose comm. diseases')
                input(type='checkbox', name='G5', tabindex="35", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('G5')==true)
              div.checkbox
                label= gettext('G6: Victim of violence')
                input(type='checkbox', name='G6', tabindex="36", disabled=readonlyFields.riskCode, value=1, checked=hasRisk('G6')==true)

        br
        div.row
          div(class='col-md-6')
            div
              p.text-primary= gettext('Risk Notes')
              textarea(class='form-control input-lg', tabindex="37", spellcheck="off", autocomplete="off", rows=3, disabled=readonlyFields.riskNote, name='riskNote')= rec.riskNote
          div(class='form-group col-md-6 box')
            p(class='text-primary lead')= gettext('Pregnancy End Result')
            div(class='row')
              div(class='col-md-6 ')
                div
                  span= gettext('End Date')
                  +datePicker('form-control', 38, 'pregnancyEndDate', rec.pregnancyEndDate, null, null, readonlyFields.pregnancyEndDate)
              div(class='col-md-6 ')
                div
                  span= gettext('End Result')
                  input(class='form-control', type='text', size=20, tabindex="39", autocomplete="off", name='pregnancyEndResult', disabled=readonlyFields.pregnancyEndResult, value=rec.pregnancyEndResult)

    div.row
      div(class='col-md-12')
        table(id='prenatalExaminations', class='table table-striped table-bordered table-hover table-condensed responsive')
          thead
            tr
              td= gettext('Date')
              td= gettext('Weight')
              td= gettext('B/P')
              td= gettext('CR')
              td= gettext('Temp')
              td= gettext('RR')
              td= gettext('GA')
              td= gettext('FH')
              td= gettext('FHT')
              td= gettext('Pos')
              td= gettext('Mvmt')
              td= gettext('Edema')
              td= gettext('Risk')
              td= gettext('Vit')
              td= gettext('Pray')
              td= gettext('Examiner')
              td= gettext('Return')
          -var pregId = 'pregnancyId-' + rec.id;
          tbody(id=pregId)
            each pe in rec.prenatalExam
              - var prenatalExamId = 'prenatalExamId-' + pe.id;
              - var examiner = pe.examiner
              - peDate = pe.date? libs.mmt(pe.date).format('MM-DD-YYYY'): '';
              - returnDate = pe.returnDate? libs.mmt(pe.returnDate).format('MM-DD-YYYY'): '';
              //- If database has all zeros, will be invalid date.
              - if (returnDate == 'Invalid date') returnDate = '';
              - var bp;
              - if (pe.systolic && pe.diastolic) {
              -   bp = pe.systolic + ' / ' + pe.diastolic;
              - } else {
              -   bp = '';
              - }
              - var mvmt = pe.mvmt === 1? 'Y': '';
              - var edema = pe.edema === 'none'? 'None': pe.edema;
              - var vitamin = pe.vitamin === 1? 'Y': '';
              - var pray = pe.pray === 1? 'Y': '';
              tr(class='prenatalExamRow', id=prenatalExamId)
                td= peDate
                td= pe.weight
                td= bp
                td= pe.cr
                td= pe.temperature
                td= pe.respiratoryRate
                td= pe.ga
                td= pe.fh
                td= pe.fht
                td= pe.pos
                td= mvmt
                td= edema
                td= pe.risk
                td= vitamin
                td= pray
                td= examiner
                td= returnDate
    div.row
      div(class='col-md-3 col-md-offset-7')
        p(class='text-muted invisible visible-on-change')= gettext('Save changes before adding a prenatal exam.')
      div(class='col-md-2')
        a(href=prenatalExamAddFormPath, role="button", class='btn btn-primary disable-on-change pull-right')= gettext('Add Prenatal Exam')

    div.row
      div(class='col-md-1')
        input(class='btn btn-primary', type='submit', value=gettext('Save Changes'))
        input(type='hidden', name='_csrf', value=token)
        input(type='hidden', name='id', value=rec.id)

