extends layouts/default_layout

block profileEditForm
  h1= title

  +flash(messages)
  div.userEditBox
    - var action = '/profile';
      form(role='form', name='profileForm', action=action, method='post')

        div.form-group
          span= gettext('Id: ') + profile.id
        div.form-group
          span= gettext('Username: ') + profile.username
        div.form-group
          span= gettext('Firstname')
          input(class='form-control', type='text', name='firstname', autocomplete="off", autofocus, value=profile.firstname)
        div.form-group
          span= gettext('Lastname')
          input(class='form-control', type='text', name='lastname', autocomplete="off", value=profile.lastname)
        div.form-group
          span= gettext('Password')
          input(class='form-control', type='password', name='password')
        div.form-group
          span= gettext('Password confirmation')
          input(class='form-control', type='password', name='password2')
        div.form-group
          span= gettext('Language')
          input(class='form-control', type='text', name='lang', autocomplete="off", value=profile.lang)
        div.form-group
          span= gettext('Email')
          input(class='form-control', type='text', name='email', autocomplete="off", value=profile.email)

        input(class='btn btn-default', type='submit', value=gettext('Save'))

        input(type='hidden', name='_csrf', value=token)
        input(type='hidden', name='id', value=profile.id)

