extends layouts/default_layout

block roleList
  h1= title
  p= gettext('These are the roles in the system.')
    a.pull-right(href='/user')= gettext('Back to the List of users')

  div.roletable
    table(class='table table-striped table-bordered table-hover')
      thead
        tr
          th.header= gettext('ID')
          th.header= gettext('Name')
          th.header= gettext('Description')
      tbody
        each role in roles
          tr
            td= role.id
            td
              a(href='/role/' + role.id + '/edit')
                = role.name
            td= role.description
    a.pull-right(href='/role/new')= gettext('Add a new role')

