extends layouts/default_layout

block searchResults
  +titleMsg(title)

  - var rowClass = 'searchResultsRow';
  - if (isGuard) rowClass = 'searchResultsRowGuard';
  div.row
    div(class='form-group col-sm-2')
      a(class='btn btn-default', href='/search')= gettext('New Search')

  div.row
    div(class='form-group col-sm-12')
      div(class='table-responsive')
        table(class='table table-striped table-bordered table-hover responsive')
          thead
            tr
              th.header= gettext('Priority')
              th.header= gettext('Last name')
              th.header= gettext('First name')
              th.header= gettext('Date of birth')
              th.header= gettext('Address')
              th.header= gettext('Barangay')
              th.header= gettext('MMC #')
              th.header= gettext('ID')
          tbody
            each rec in results
              -var searchResultsId = 'searchResultsId-' + rec.id;
              tr(class=rowClass, id=searchResultsId)
                td= rec.priority
                td= rec.lastname
                td= rec.firstname
                td= rec.dob
                td= rec.address1
                td= rec.address3
                td= rec.dohID
                td= rec.id

  div.row
    div(class='form-group col-sm-12')
      - var isPreviousDisabled = parseInt(pageNum, 10) === 1;
      - var isNextDisabled = results.length === 0;
      form(role='form', name='search', action='/search', method='post')
        input(class='btn btn-primary', name='previous', type='submit', value=gettext('Previous Page'), disabled=isPreviousDisabled)
        input(class='btn btn-primary', name='next', type='submit', value=gettext('Next Page'), autofocus, disabled=isNextDisabled)
        input(type='hidden', name='page', value=parseInt(pageNum, 10))
        input(type='hidden', name='searchType', value='continued')
        input(type='hidden', name='_csrf', value=token)
