extends layouts/default_layout

block searchResults
  h1= title
  p= gettext('These are what we found.')

  a.pull-right(href='/search')= gettext('Search again')
  table(class='table table-striped table-bordered table-hover')
    thead
      tr
        th.header= gettext('ID')
        th.header= gettext('First name')
        th.header= gettext('Last name')
        th.header= gettext('Date of birth')
        th.header= gettext('Address')
        th.header= gettext('Barangay')
        th.header= gettext('DOH ID')
    tbody
      each rec in results
        -var searchResultsId = 'searchResultsId-' + rec.id;
        tr(class='searchResultsRow', id=searchResultsId)
          td= rec.id
          td= rec.firstname
          td= rec.lastname
          td= rec.dob
          td= rec.address
          td= rec.barangay
          td= rec.dohID
