extends layouts/default_layout

block search
  +titleMsg(title)

  div.userEditBox
    - var action = '/user/' + editUser.id + '/update';
      form(class='dirty-check', role='form', name='userForm', action=action, method='post')

        div.form-group
          span= 'Id: ' + editUser.id
        div.form-group
          span= gettext('Username')
          input(class='form-control input-lg', type='text', tabindex=1, autocomplete="off", name='username', autofocus, value=editUser.username)
        div.form-group
          span= gettext('Firstname')
          input(class='form-control input-lg', type='text', tabindex=2, autocomplete="off", name='firstname', value=editUser.firstname)
        div.form-group
          span= gettext('Lastname')
          input(class='form-control input-lg', type='text', tabindex=3, autocomplete="off", name='lastname', value=editUser.lastname)
        div.form-group
          span= gettext('Password')
          input(class='form-control input-lg', type='password', tabindex=4, name='password')
        div.form-group
          span= gettext('Password confirmation')
          input(class='form-control input-lg', type='password', tabindex=5, name='password2')
        div.form-group
          span= gettext('Email')
          input(class='form-control input-lg', type='text', tabindex=6, autocomplete="off", name='email', value=editUser.email)
        div.form-group
          span= gettext('Short name or initials')
          input(class='form-control input-lg', type='text', tabindex=7, autocomplete="off", name='shortName', value=editUser.shortName)
        div.form-group
          span= gettext('Display name')
          input(class='form-control input-lg', type='text', tabindex=8, autocomplete="off", name='displayName', value=editUser.displayName)
        div.form-group
          input(type='checkbox', name='isCurrentTeacher', tabindex="9", value=1, checked=editUser.isCurrentTeacher==true)
          span &nbsp;&nbsp;
          span= gettext(' Is currently a teacher? ')
        div.form-group
          label.radio-inline
            input(type='radio', name='status', value='1', tabindex=10, checked=editUser.status==1)
            = gettext('Active')
          label.radio-inline
            input(type='radio', name='status', value='0', tabindex=11, checked=editUser.status==0)
            = gettext('Inactive')
        div.form-group
          span= gettext('Comment')
          input(class='form-control input-lg', type='text', tabindex=12, autocomplete="off", name='note', value=editUser.note)
        div.form-group
          - var roleSelect = libs._.map(roles, function(r) {return {selectKey: r.id, selected: editUser.role_id === r.id? true:false, label: r.name};})
          span= gettext('Role')
          +select('form-control input-lg', 'role_id', 13, roleSelect)

        input(class='btn btn-default btn-primary', type='submit', value=gettext('Save'))

        input(type='hidden', name='_csrf', value=token)
        input(type='hidden', name='id', value=editUser.id)

