extends layouts/default_layout

block userList
  h1= title
  p= gettext('These are the users in the system.')
    a.pull-right(href='/role')= gettext('List roles')

  div.usertable
    table(class='table table-striped table-bordered table-hover')
      thead
        tr
          th.header= gettext('ID')
          th.header= gettext('Username')
          th.header= gettext('First name')
          th.header= gettext('Last name')
          th.header= gettext('Email')
          th.header= gettext('Language')
          th.header= gettext('Active')
          th.header= gettext('Comment')
          th.header= gettext('Roles')
      tbody
        each user in users
          tr
            td= user.id
            td
              a(href='/user/' + user.id + '/edit')
                = user.username
            td= user.firstname
            td= user.lastname
            td= user.email
            td= user.lang
            td= user.status
            td= user.note
            td
              ul(class='list-unstyled')
                for role in user.roles
                  li= role.name
    a.pull-right(href='/user/new')= gettext('Add a new user')

