extends layouts/default_layout

block search
  h1= title

  div.userEditBox
    if success
      p.text-info
        = messages[0]
    else
      p.text-warning= gettext('User was not created because:')
      ul
        for msg in messages
          li.text-warning= msg
    - var action = '/user';
      form(role='form', name='userForm', action=action, method='post')

        div.form-group
          span= gettext('Username')
          input(class='form-control', type='text', name='username')
        div.form-group
          span= gettext('Firstname')
          input(class='form-control', type='text', name='firstname')
        div.form-group
          span= gettext('Lastname')
          input(class='form-control', type='text', name='lastname')
        div.form-group
          span= gettext('Password')
          input(class='form-control', type='password', name='password')
        div.form-group
          span= gettext('Password confirmation')
          input(class='form-control', type='password', name='password2')
        div.form-group
          span= gettext('Email')
          input(class='form-control', type='text', name='email')
        div.form-group
          span= gettext('Comment')
          input(class='form-control', type='text', name='comment')

        input(class='btn btn-default', type='submit', value=gettext('Create User'))
        input(type='hidden', name='_csrf', value=token)
        //- Assumes that the user created will be 'active' immediately.
        input(type='hidden', name='status', value='1')

