extends layouts/default_layout

block userList
  h1= title
  p These are the users in the system.

  div.usertable
    table(class='table table-striped table-bordered table-hover')
      thead
        tr
          th.header ID
          th.header Username
          th.header First name
          th.header Last name
          th.header Email
          th.header Language
          th.header Active
          th.header Comment
      tbody
        each user in users
          tr
            td= user.id
            td
              a(href='/user/' + user.id + '/edit')
                = user.username
            td= user.firstname
            td= user.lastname
            td= user.email
            td= user.lang
            td= user.status
            td= user.comment
    a.pull-right(href='/user/new') Add a new user

