extends layouts/default_layout

block checkinout
  +titleMsg(title)
  - if (rec) {
    +patientWell(rec)
  - }

  - var action = '/checkin';
  - var lastPathSegment = 'checkin';
  - var btnText = 'Check In';
  - if (! isCheckIn) {
  -   lastPathSegment = 'checkout';
  -   btnText = 'Check Out';
  - }
  - if (rec) {
  -   action = '/pregnancy/' + rec.id + '/' + lastPathSegment;
  - }

  form(role='form', class='disable-on-submit', name='checkinout', action=action, method='post')
    div.row
      div(class='form-group col-xs-6')
        label= gettext('6 Digit Priority #')
        input(class='form-control input-lg', type='number', tabindex="1", autofocus, autocomplete="off", name='priorityBarcode', value=priorityBarcode)
    div.row
      div(class='form-group col-xs-6')
        input(class='btn btn-primary', type='submit', value=btnText)
        input(type='hidden', name='_csrf', value=token)


