mixin datePicker(classes, tabindex, name, value, id, defaultDate)
  - var classVals = classes + ' datepicker';
  - var displayFieldName = 'displayField-' + name;
  - var hiddenFieldId = 'altField-' + name;
  - var dataAltFldValue = '#' + hiddenFieldId;
  - if (id) {
    input(id=id, class=classVals, type='text', tabindex=tabindex, autocomplete="off", name=displayFieldName, data-defaultDate=defaultDate, data-alt-field=dataAltFldValue, value=value)
  - } else {
    input(class=classVals, type='text', tabindex=tabindex, autocomplete="off", name=displayFieldName, data-defaultDate=defaultDate, data-alt-field=dataAltFldValue, value=value)
  - }
  input(type='hidden', id=hiddenFieldId, name=name)
