//- ---------------------------------------------------------
//- patientWell(record)
//-
//- Displays information about the pregnancy and patient.
//-
//- @param    record - the pregnancy record
//- ---------------------------------------------------------
mixin patientWell(record)
  - var name = record.lastname + ', ' + record.firstname;
  - var dob = record.patient.dob;
  - var age = libs.mmt().diff(dob, 'years');
  - var doh = record.patient.dohID;
  - var dohFormatted = doh? doh.slice(0,2) + '-' + doh.slice(2,4) + '-' + doh.slice(4): '';
  - var gravida = record.gravida || '0';
  - var para = record.para || '0';
  - var abortions = record.abortions || '0';
  - var stillBirths = record.stillBirths || '0';
  - var living = record.living || '0';
  div(class='pregName well well-sm')
    div.row
      div(class='col-sm-3')
        h2(class='')= name
      div(class='col-sm-3')
        div(class='lead')= gettext('Age: ')
          span(class='lead text-primary')= age
          span(class='lead text-primary') &nbsp;&nbsp;(
          span(class='lead text-primary')= dob
          span(class='lead text-primary') )
    div.row
      div(class='col-sm-3')
        span= gettext('G: ')
        strong(class='lead text-primary')= gravida
        span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        span= gettext('P: ')
        strong(class='lead text-primary')= para
        span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        span= gettext('A: ')
        strong(class='lead text-primary')= abortions
        span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        span= gettext('S: ')
        strong(class='lead text-primary')= stillBirths
        span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        span= gettext('L: ')
        strong(class='lead text-primary')= living
      div(class='col-sm-3')
        div(class='lead')= gettext('DOH: ') + dohFormatted
