extends layouts/default_layout

block pregnancyAdd
  +titleMsg(title)

  div.formBoxLarge
    form(role='form', name='pregnancyForm', action='/pregnancy', method='post')
      div.row
        div(class='form-group col-xs-4')
          span= gettext('Last name')
          input(class='form-control input-lg', type='text', tabindex="1", autocomplete="off", name='lastname', autofocus)
        div(class='form-group col-xs-4')
          span= gettext('First name')
          input(class='form-control input-lg', type='text', tabindex="2", autocomplete="off", name='firstname')
        div(class='form-group col-xs-4')
          span= gettext('Date of Birth')
          input(class='form-control input-lg', type='date', tabindex="3", autocomplete="off", name='dob')
      div.row
        div(class='form-group col-xs-4')
          span= gettext('Religion')
          +select('form-control input-lg', 'religion', 4, religion)
        div(class='form-group col-xs-4')
          span= gettext('Maiden name')
          input(class='form-control input-lg', type='text', tabindex="5", autocomplete="off", name='maidenname')
        div(class='form-group col-xs-4')
          span= gettext('Nick name')
          input(class='form-control input-lg', type='text', tabindex="6", autocomplete="off", name='nickname')
      div.row
        div(class='form-group col-xs-4')
          span= gettext('Marital status')
          +select('form-control input-lg', 'maritalStatus', 7, marital)
        div(class='form-group col-xs-4')
          span= gettext('Address')
          input(class='form-control input-lg', type='text', tabindex="8", autocomplete="off", name='address')
        div(class='form-group col-xs-4')
          span= gettext('Barangay')
          input(class='form-control input-lg', type='text', tabindex="9", autocomplete="off", name='barangay')
      div.row
        div(class='form-group col-xs-4')
          span= gettext('Work')
          input(class='form-control input-lg', type='text', tabindex="10", autocomplete="off", name='work')
        div(class='form-group col-xs-4')
          span= gettext('Education')
          +select('form-control input-lg', 'education', 11, education)
        div(class='form-group col-xs-4')
          span= gettext('Telephone')
          input(class='form-control input-lg', type='tel', tabindex="12", autocomplete="off", name='telephone')
      div.row
        div(class='form-group col-xs-4')
          span= gettext('Partner last name')
          input(class='form-control input-lg', type='text', tabindex="13", autocomplete="off", name='partnerLastname')
        div(class='form-group col-xs-4')
          span= gettext('Partner first name')
          input(class='form-control input-lg', type='text', tabindex="14", autocomplete="off", name='partnerFirstname')
        div(class='form-group col-xs-4')
          span= gettext('Partner age')
          input(class='form-control input-lg', type='number', tabindex="15", autocomplete="off", name='partnerAge')
      div.row
        div(class='form-group col-xs-4')
          span= gettext('Partner work')
          input(class='form-control input-lg', type='text', tabindex="16", autocomplete="off", name='partnerWork')
        div(class='form-group col-xs-4')
          span= gettext('Partner education')
          +select('form-control input-lg', 'partnerEducation', 17, education)
        div(class='form-group col-xs-4')
          span= gettext('MMC #')
          input(class='form-control input-lg', type='number', tabindex="18", autocomplete="off", name='doh')
      div.row
        div(class='form-group col-xs-3')
          span= gettext('Client income')
          input(class='form-control input-lg', type='number', tabindex="19", autocomplete="off", name='clientIncome')
        div(class='form-group col-xs-5')
          span= gettext('Income period')
          +select('form-control input-lg', 'clientIncomePeriod', 20, clientIncomePeriod)
        div(class='form-group col-xs-4')
          span= gettext('Priority #')
          input(class='form-control input-lg', type='number', tabindex="21", autocomplete="off", name='priority')
      div.row
        div(class='form-group col-xs-3')
          span= gettext('Partner income')
          input(class='form-control input-lg', type='number', tabindex="22", autocomplete="off", name='partnerIncome')
        div(class='form-group col-xs-5')
          span= gettext('Income period')
          +select('form-control input-lg', 'partnerIncomePeriod', 23, partnerIncomePeriod)
        div(class='form-group col-xs-4')
          span= gettext('Prenatal Day')
          +select('form-control input-lg', 'prenatalDay', 24, value=prenatalDay)
      div.row
        div(class='form-group col-xs-4')
          span= gettext('Mother - Baby Book?')
          +select('form-control input-lg', 'mbBook', 25, mbBook)
        div(class='form-group col-xs-4')
          //- We move the logic for a custom field out of the core route to the
          //- view so that the routes can deal with custom fields at a generic level.
          //- This is obtuse but it means that we can add/modify a custom field in
          //- the view without touching the routes or other deeper logic, for
          //- whatever that is worth. Obviously, more work needs to be done here.
          - var cusFldType = libs._.findWhere(customFieldTypes, {name: 'Agdao'});
          //- Load defaults and we are including a JSON string to help the
          //- backend discern our intentions.
          - var agdaoSelectValue = [];
          - agdaoSelectValue.push({selectKey: '', label: '', selected: true});
          - agdaoSelectValue.push({selectKey: '{"customFieldType_id": ' + cusFldType.id + ', "value": "Y"}', label: 'Yes', selected: false});
          - agdaoSelectValue.push({selectKey: '{"customFieldType_id": ' + cusFldType.id + ', "value": "N"}', label: 'No', selected: false});
          span= gettext(cusFldType.label)
          +select('form-control input-lg', 'customField', 26, value=agdaoSelectValue)
        div(class='form-group col-xs-4')
          span= gettext('Prenatal Location')
          +select('form-control input-lg', 'prenatalLocation', 27, value=prenatalLocation)

      div.row
        input(class='btn btn-primary', type='submit', value=gettext('Create New Pregnancy Record'))
          input(type='hidden', name='_csrf', value=token)
        input(type='hidden', name='_csrf', value=token)

