extends layouts/default_layout

block prenatal
  +titleMsg(title)
  +pregnancyTab('prenatal')
  +patientWell(rec)

  - var prenatalExamAddFormPath = '/pregnancy/' + rec.id + '/prenatalexam';
  form(id='prenatalForm', role='form', name='prenatal', action='/pregnancy/' + rec.id + '/prenatal', method='post')
    div.row
      div(class='form-group col-xs-4')
        p(class='text-primary lead')= gettext('Phil Health')
        div.row
          div(class='col-xs-6')
            div.checkbox
              label= gettext('MCP')
                input(class='form-control input-sm', type='checkbox', name='philHealthMCP', tabindex="1", value=1, checked=rec.philHealthMCP==true)
          div(class='col-xs-6')
            div.checkbox
              label= gettext('NCP')
                input(class='form-control input-sm', type='checkbox', name='philHealthNCP', tabindex="2", value=1, checked=rec.philHealthNCP==true)
        div.row
          div(class='col-xs-12')
            div.checkbox
              label= gettext('PHIC Approved')
                input(class='form-control input-sm', type='checkbox', name='philHealthApproved', tabindex="4", value=1, checked=rec.philHealthApproved==true)
        div.row
          div(class='col-xs-12')
            span= gettext('PHIC #')
            input(class='form-control', type='text', size=12, tabindex="3", autocomplete="off", name='philHealthID', value=rec.philHealthID)

      div(class='form-group col-xs-4 box')
        p(class='text-primary lead')= gettext('Estimated Due Dates')
        div.row
          div(class='col-xs-12')
            div
              span= gettext('LMP')
              input(id='prenatal-lmp', class='form-control', type='date', tabindex="5", autocomplete="off", name='lmp', value=rec.lmp)
        div.row
          div(class='col-xs-12')
            div
              span= gettext('EDD')
              input(id='prenatal-edd', class='form-control', type='date', name='edd', tabindex="6", value=rec.edd)

      div(class='col-xs-4')
        p(class='text-primary lead') &nbsp;
        div(class='form-group')
          div.checkbox
            label= gettext('Sure of LMP')
              input(class='form-control input-sm', type='checkbox', name='sureLMP', tabindex="7", value=1, checked=rec.sureLMP==true)
          div.checkbox
            label= gettext('Use Alternate EDD')
              input(class='form-control input-sm', type='checkbox', name='useAlternateEdd', tabindex="8", value=1, checked=rec.useAlternateEdd==true)
        div.row
          div(class='col-xs-12')
            div
              span= gettext('Alternate EDD')
              input(class='form-control', type='date', name='alternateEdd', tabindex="9", value=rec.alternateEdd)


    div.row
      div(class='form-group col-xs-8 box')
        p(class='text-primary lead')= gettext('Risk Factors')
        div.row
          div(class='form-group col-xs-12')
            div.row
              div(class='col-xs-4')
                  span= gettext('Risk Present')
                    +select('form-control input-lg', 'riskPresent', 10, riskPresent)
              div(class='col-xs-4')
                  span= gettext('OB Hx')
                    +select('form-control input-lg', 'riskObHx', 11, riskObHx)
              div(class='col-xs-4')
                  span= gettext('Med Hx')
                    +select('form-control input-lg', 'riskMedHx', 12, riskMedHx)
            div.row
              div(class='col-xs-4')
                  span= gettext('Risk Lifestyle')
                  +select('form-control input-lg', 'riskLifestyle', 13, riskLifestyle)
              div(class='col-xs-8')
                div
                  span= gettext('Risk Notes')
                  textarea(class='form-control', tabindex="14", autocomplete="off", rows=2, name='riskNote')= rec.riskNote

      div(class='form-group col-xs-4 box')
        p(class='text-primary lead')= gettext('Pregnancy End Result')
        div(class='row')
          div(class='col-xs-12')
            div
              span= gettext('End Date')
              input(class='form-control', type='date', name='pregnancyEndDate', tabindex="15", value=rec.pregnancyEndDate)
        div(class='row')
          div(class='col-xs-12')
            div
              span= gettext('End Result')
              input(class='form-control', type='text', size=20, tabindex="16", autocomplete="off", name='pregnancyEndResult', value=rec.pregnancyEndResult)

    hr
    p(class='text-primary lead')= gettext('Prenatal Exams')

    div.row
      div(class='col-xs-12')
        table(id='prenatalExaminations', class='table table-striped table-bordered table-hover table-condensed responsive')
          thead
            tr
              td= gettext('Date')
              td= gettext('Weight')
              td= gettext('B/P')
              td= gettext('CR')
              td= gettext('GA')
              td= gettext('FH')
              td= gettext('FHT')
              td= gettext('Pos')
              td= gettext('Mvmt')
              td= gettext('Edema')
              td= gettext('Risk')
              td= gettext('Vit')
              td= gettext('Pray')
              td= gettext('Examiner')
              td= gettext('Return')
          -var pregId = 'pregnancyId-' + rec.id;
          tbody(id=pregId)
            each pe in rec.prenatalExam
              - var prenatalExamId = 'prenatalExamId-' + pe.id;
              - var examiner = pe.examiner
              - peDate = pe.date? libs.mmt(pe.date).format('MM-DD-YYYY'): '';
              - returnDate = pe.returnDate? libs.mmt(pe.returnDate).format('MM-DD-YYYY'): '';
              //- If database has all zeros, will be invalid date.
              - if (returnDate == 'Invalid date') returnDate = '';
              - var bp = pe.systolic + ' / ' + pe.diastolic;
              - var mvmt = pe.mvmt === 1? 'Y': 'N';
              - var edema = pe.edema === 'none'? 'None': pe.edema;
              - var vitamin = pe.vitamin === 1? 'Y': 'N';
              - var pray = pe.pray === 1? 'Y': 'N';
              tr(class='prenatalExamRow', id=prenatalExamId)
                td= peDate
                td= pe.weight
                td= bp
                td= pe.cr
                td= pe.ga
                td= pe.fh
                td= pe.fht
                td= pe.pos
                td= mvmt
                td= edema
                td= pe.risk
                td= vitamin
                td= pray
                td= examiner
                td= returnDate
    div.row
      div(class='col-xs-4 col-xs-offset-4')
        p(class='text-muted invisible visible-on-change')= gettext('Save changes before adding a prenatal exam.')
      div(class='col-xs-2 pull-right')
        a(href=prenatalExamAddFormPath, role="button", class='btn btn-primary disable-on-change pull-right')= gettext('Add Prenatal Exam')

    div.row
      div(class='col-xs-2')
        input(class='btn btn-primary', type='submit', value=gettext('Save Changes'))
        input(type='hidden', name='_csrf', value=token)
        input(type='hidden', name='id', value=rec.id)

