extends layouts/default_layout

block userList
  +titleMsg(title)

  p= gettext('These are the users in the system.')
    a(class='btn btn-default pull-right', href='/role')= gettext('List roles')

  div.usertable
    ul.list-inline
      li
        a(class='btn btn-default pull-left', href='/user')= gettext('Show all users')
      li
        a(class='btn btn-default pull-left', href='/user?status=1')= gettext('Active users')
      li
        a(class='btn btn-default pull-left', href='/user?status=0')= gettext('Inactive users')
    ul.list-inline
      li
        a(class='btn btn-default pull-right', href='/user')= gettext('Show all roles')
      li
        a(class='btn btn-default pull-right', href='/user?role=1')= gettext('Administrators')
      li
        a(class='btn btn-default pull-right', href='/user?role=2')= gettext('Guards')
      li
        a(class='btn btn-default pull-right', href='/user?role=3')= gettext('Clerks')
      li
        a(class='btn btn-default pull-right', href='/user?role=4')= gettext('Attending')
      li
        a(class='btn btn-default pull-right', href='/user?role=5')= gettext('Supervisors')
    table(class='table table-striped table-bordered table-hover responsive')
      thead
        tr
          th.header= gettext('Username')
          th.header= gettext('First name')
          th.header= gettext('Last name')
          th.header= gettext('Email')
          th.header= gettext('Language')
          th.header= gettext('Active')
          th.header= gettext('Comment')
          th.header= gettext('Roles')
          th.header= gettext('ID')
      tbody
        each user in users
          - var userId = 'userList-' + user.id;
          tr(class='userListRow', id=userId)
            td= user.username
            td= user.firstname
            td= user.lastname
            td= user.email
            td= user.lang
            td= user.status
            td= user.note
            td
              ul(class='list-unstyled')
                for role in user.roles
                  li= role.name
            td= user.id
    a(class='btn btn-primary pull-right', href='/user/new')= gettext('Add a new user')

